<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>SportyShoes</title>
</head>
<body>
	<h1 align="center"> Welcome to Sporty Shoes Admin HomePage!</h1>
	<div align = "center">
	<div align = "center" style="display: table-cell; vertical-align: middle; height: 60vh;" >
		
		<form action="GetCategory" >
		<input type="submit" value = "Get & Manage Catgory">
		</form>
		
		<br><br>
		<form action="GetProducts" >
		<input type="submit" value = "Get & Manage Products">
		</form>
		
		<br><br>
		<form action="GetUsers" >
		<input type="submit" value = "Get & Manage Users">
		</form>
		
		<br><br>
		<form action="getReportParameters" >
		<input type="submit" value = "Purchase Report">
		</form>
	
	</div>
	</div>
	
</body>
</html>