<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1 align="center"> Welcome to Sporty Shoes !</h1>
	<div align = "center">
	<div align = "center" style="display: table-cell; vertical-align: middle; height: 60vh;" >
		<form action="LoginVerify" method = "post"  >
		<label>Enter Admin Username </label>
		<input type="text" name="uname">
		<br><br>
		
		<label>Enter the Password </label>
		<input type="password" name="pwd">
		<br><br>
	
		<input type="submit" value = "Login">
	</form>
	</div>
	</div>
	
</body>
</html>