<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Users</title>
</head>
<body>
	<h1 align="center"> Welcome to Sporty Shoes Admin Manage User Page</h1>
	<div align = "center">
	<div align = "center" style="display: table-cell; vertical-align: middle; height: 60vh;" >
		<form action="AddUser" method = "post">
		<label>Enter User's name </label> <input type="text" name="name">
		<label>Enter username </label> <input type="text" name="username">
		<label>Enter Password </label> <input type="password" name="pwd">
		
		<br><br> 
		<input type="submit" value = "Add User">
		</form>
		
		<br><br>
		<h3>Below are the Users</h3>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Username</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}">
					<td th:text="${user.getName()}"></td>
					<td th:text="${user.getUsername()}"></td>
				</tr>
			</tbody>
		</table>
	
	
	<br><br>
	
	<form action="DeleteUser" method = "post">
		
		<label>Enter name to delete user </label>
		 <input type="text" name="name">
				<br><br> 
		<input type="submit" value = "Delete User">
	</form>
	
	<br><br>
	<h3>Search Users</h3>
	<form action="FindUser" method = "post">
		<label>Enter name of user</label> <input type="text" name="fname">
		
		<br><br> 
		<input type="submit" value = "Find User">
	</form>
	
	
	
	</div>
	</div>
	
</body>
</html>